#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

:root {
  --primary-color: #0f172a;
  --secondary-color: #707786;
  --background-color: #fff;
  --success-color: #1c7d41;
  --error-color: #900b09;
  --grey-color: #dddfe4;
  --light-grey-color: #f5f6f6;
  --main-font: 'Inter', sans-serif;
  --border-radius-small: 0.5rem;
  --border-radius: 1rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.25rem;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--primary-color);
}

h3 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
}
p,
input {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--secondary-color);
}
