#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

:root {
  --primary-color: #0f172a;
  --secondary-color: #707786;
  --background-color: #fff;
  --success-color: #1c7d41;
  --error-color: #900b09;
  --light-grey-color: #dddfe4;
  --main-font: 'Inter', sans-serif;
  --border-radius-small: 0.5rem;
  --border-radius: 1rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.25rem;
}

body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--primary-color);
}
